*{
  font-family: inria serif;
  font-style: normal;
  font-weight: 700px;
}
body{
  background-image: url("image\abstract-watercolor-pastel-background_87374-139.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;

}
.parent{
  margin: 150px;
  display: flex;
}
.div1{
  background-color: #0F224C;
  width: 400px;
  height: 300px;
  padding: 70px;
  color: white;
}
.div2{
  background-color: white;
  width: 400px;
  height: 300px;
  padding: 70px;
  float: left;
}
.btn-group button {
  border: 0ch;
  padding: 15px 39px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: left; /* Float the buttons side by side */

}
.btn-group:after {
content: "";
clear: both;
display: table;
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
background-color: #0974E1;
color: white;
}
.button1{
background-color: #0974E1;
color: white;
}
.button2,.button3{
background-color: white;
color: #0974E1;
}
form{
  margin: auto;
}