*{
  font-style: normal;
  font-weight: 700px;
}
body{
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-attachment: scroll;

}
.parent{
  margin: 150px;
  display: flex;
}
.div1{
  font-family: roboto;
  background-color: #234569;
  width: 500px;
  height: 900px;
  padding: 70px;
  color: white;
}
.div2{
  background-color: white;
  width: 500px;
  height: 900px;
  padding: 70px;
  float: left;
}
.btn-group button {
  border: 0ch;
  padding: 15px 39px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: left; /* Float the buttons side by side */

}
.btn-group:after {
content: "";
clear: both;
display: table;
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
background-color: #0974E1;
color: white;
}
.button3{
background-color: #0974E1;
color: white;
}
.button1,.button2{
background-color: white;
color: #0974E1;
}
form{
  margin: auto;
}

.emailText,
.passText,
.numberText,
.nameText{
	display: block;
	font-weight: 300;
	font-style: italic;
	padding: 5px;
}
label.valid .emailText,
label.valid .passText,
label.valid .numberText,
label.valid .nameText{
	color: #00ff00;
}
label.invalid .emailText,
label.invalid .passText,
label.invalid .numberText,
label.invalid .nameText{
	color: #f00;
}
label.valid::before,
label.invalid::before{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: 18px;
	right: 5px;
	z-index: 100;
}
label.valid::before{
	background: url(check.svg)no-repeat center /cover;
}
label.invalid::before{
	background: url(error.png)no-repeat center /cover;
}

