
form label{
	position: relative;
	display: block;
}
form input{
	margin: 10px 0;
	width: 100%;
	border-radius: 6px;
	font-size: 18px;
	border: none;
	outline: none;
}
.emailText,
.passText,
.numberText,
.nameText,
.idText{
	display: block;
	font-weight: 300;
	font-style: italic;
	padding: 5px;
}
label.valid .emailText,
label.valid .passText,
label.valid .numberText,
label.valid .nameText,
label.valid .idText{
	color: #00ff00;
}
label.invalid .emailText,
label.invalid .passText,
label.invalid .numberText,
label.invalid .nameText,
label.invalid .idText{
	color: #f00;
}
label.valid::before,
label.invalid::before{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: 18px;
	right: 5px;
	z-index: 100;
}
label.valid::before{
	background: url(../image/check.svg)no-repeat center /cover;
}
label.invalid::before{
	background: url(../image/error.png)no-repeat center /cover;
}